<table class="table table-responsive">
<% estimates =  session[:stuff][:estimates] %>
<tr id="per_hit"><td>Average per hit</td><td><%= estimates["avg"].to_f.round(2)  %></td></tr>
<tr id="raw_dps"><td>DPS raw</td><td><%= estimates["raw_dps"].to_f.round(2) %></td></tr>
<tr id="target_dps"><td>DPS against target with <%= params[:e_armor].blank? ?  100 : params[:e_armor] %> armor</td><td><%= estimates["dps_against_target"].to_f.round(2) %></td></tr>
</table>
