<div class="panel">
<div class="form-control input-lg"><%= render 'form_right' %></div>
<div id="estimates" ></div></div>
<div id="initial" class="col-lg-4"> </div>
<div id="compare" class="col-lg-3"></div>
<div id="stats" class="col-lg-4 "></div>