<div class="panel">
    <div class="panel-heading">Basic attacks only, uniques like shiv and BoRK are excluded</div>
    <div class="panel-body">
    
    <div class="form-control input-lg"><%= render 'form_right' %></div>
    <div id="initial_estimates" class="col-xs-6"></div>
    <div id="estimates" class="col-xs-6"></div>
    </div>
</div>
<div id="initial" class="col-lg-4"> </div>
<div id="compare" class="col-lg-3"></div>
<div id="stats" class="col-lg-4 "></div>