<p class="text-warning bg-success">To downoload Item Set right click link below and select "save link as", and save it to \League of Legends\Config\Champions\<%= session[:stuff][:champ][:key] %>\Recommended\ </p>
<div><%= link_to "Save as Item Set", json_path,remote:true %></div>